*,
html {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}
#navbar {
  position: sticky;
  width: 100%;
  display: flex;
  background-color: #6600ff;
  padding: 15px;
}
#navLink {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
#main {
  text-align: center;
  margin: 10px;
  font-size: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
}
#numQInput {
  font-size: 16px;
}

#results {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 15px 20px 15px 20px;
  overflow: hidden;
  height: 85vh;
}
#resultsRows {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}
#resultsHeader {
  font-weight: bold;
  background-color: #6600ff;
  color: white;
}
#results .row {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}
#results .row div {
  width: 100%;
}
.bg-primary {
  background-color: #f1f1f1;
  color: black;
}
.bg-secondary {
  background-color: white;
  color: black;
}
@media (min-width: 480px) {
  #main {
    font-size: 24px;
  }
  #numQInput {
    font-size: 24px;
  }
}
